*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(22, 19, 19);
}

main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
	
}
h1{
	display: none;
	background-color: rgb(7, 130, 231);
	text-align: center;
	position: fixed;
	width: 100%;
	padding: 15px;
	animation: mymove 5s infinite;

}

iframe{

width: 100%;
object-fit: cover;

   
    border: none;
    border-radius: 10px;
}
article{
	margin: 20px;
	height: auto;
    width: 300px;
	object-fit: cover;
	background:linear-gradient(225deg, red, black);
	padding: 0px;
	border-radius: 10px;
}
.buttons{
	text-align: center;
	margin: 30px;
}
h3{
	color: white;
	padding: 15px;
}
span{
	background-color: white;
	border: none;
	font-size: 25px;
	border-radius: 10px;
	
	padding: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
}
span:hover{
	background-color: black;
	color: white;
}

@keyframes mymove {
	0% {top: 0px;}
	50% {top: 500px;}
	100%{top:0px;}
  }
  nav{
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	box-shadow: 0 0 5px white;
  }
  img{
	width:50px;
  }
  h2{
	font-size: 35px;
  }
  footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	margin: 5px;
  }