*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	/* background-color: rgba(0, 0, 0, 0.9); */
	background-image: url('back.jpg');
}

main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
	
}
h1{
	display: none;
	background-color: rgb(7, 130, 231);
	text-align: center;
	position: fixed;
	width: 100%;
	padding: 15px;
	animation: mymove 5s infinite;

}

iframe{

width: 100%;
object-fit: cover;

   
    border: none;
    border-radius: 10px;
}
article{
	margin: 20px;
	height: auto;
    width: 300px;
	object-fit: cover;
	background:linear-gradient(225deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	padding: 0px;
	border-radius: 10px;
}
.buttons{
	text-align: center;
	margin: 30px;
}
h3{
	color: white;
	padding: 15px;
}
span{
	background-color: white;
	border: none;
	font-size: 25px;
	border-radius: 10px;
	
	padding: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
}
span:hover{
	background-color: black;
	color: white;
}

@keyframes mymove {
	0% {top: 0px;}
	50% {top: 500px;}
	100%{top:0px;}
  }
  nav{
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	box-shadow: 0 0 5px white;
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0.301);
  }
 nav img{
	width:50px;
  }
  h2{
	font-size: 35px;
  }
  footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	margin: 5px;
  }
  .cover{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgba(177, 51, 51, 0.555)
  }
  .hero{
	width: 50%;
    font-size: 25px;
    color: white;
    padding: 10px;
    line-height: 35px;
	word-spacing: 7px;
  }

  .image img{
	width: 100%;
  }
  .hero-buttons{
	margin: 25px;
  }
  .image{
	width: 30%;
  }
  .about-button{
	background-color: black;
		box-shadow: 0 0 2px 1px black;
		color: white;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
		font-size: 20px;
  }
  a{
	text-decoration: none;
  }
